<head>

	<script src="../core.js"></script>

</head>
<body ng-controller="mainController">
<div class="container">

	<div class="jumbotron text-center" ng-prueba>
		<h1>Nº de Registros: <span class="label label-success">{{ personas.length }}</span></h1>
	</div>
<h1>HOLA</h1>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-1">
			<table class="table table-striped">
				<tr class="info">
					<td>Nombre</td>
					<td>Apellidos</td>
					<td>Edad</td>
				</tr>
				<tr ng-repeat="persona in personas" ng-click="selectPerson(persona)">
					<td>{{ persona.nombre }}</td>
					<td>{{ persona.apellido }}</td>
					<td>{{ persona.edad }}</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-4 col-sm-offset-1 text-center">
			<form name="myForm">
				<div class="form-group">
					<input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newPersona.nombre" required>
					<br>
					<input type="text" class="form-control input-lg text-center" placeholder="Apellido" ng-model="newPersona.apellido" required>
					<br>
					<input type="text" class="form-control input-lg text-center" placeholder="Edad" ng-model="newPersona.edad" required>
				</div>

				<!-- Acciones que podemos realizar en el formulario -->
				<button type="submit" class="btn btn-success btn-lg" ng-click="registrarPersona()" ng-disabled="myForm.$invalid || selected">Registrar</button>
				<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.edad || !selected">Modificar</button>
				<button type="submit" class="btn btn-danger btn-lg" ng-click="borrarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.edad || !selected">Borrar</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>